<%- include('partials/header') %>


  <div class="container-fluid text-center home-div">
    <i class="fas fa-key fa-5x"></i>
    <h1 class="home-heading">Secrets</h1>
    <h3 class="home-para">Don't keep your secrets, share them anonymously!</h3>
    <hr>
    <a class="btn btn-light btn-lg home-btn" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg home-btn" href="/login" role="button">Login</a>
  </div>

  <%- include('partials/footer') %>