<%- include('partials/header') %>


  <div class="container-fluid sec-div">

    <h1 class="sec-head display-6 text-center"><i class="fas fa-key fa-1x mx-2"></i>You've discovered chamber of
      secrets!
    </h1>
    <div class="sec-btn-div">
      <a class="btn btn-light btn-lg sec-Btn" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg sec-Btn" href="/submit" role="button">Submit a Secret</a>
    </div>

    <% for( let index=0; index < secretArray.length; index++ ) { %>
      <div class="secret">
        <%= secretArray[index].data %> 
      </div>
    <% } %>


 <%- include('partials/footer') %>